/* Source-code Font */
@font-face {
    font-family: source-code;
    src: url(res/source.otf);
}

/* For fullpage background */
html {
    background: linear-gradient(to bottom, rgba(0,0,0,0.66) 100%, transparent), url(res/osman-rana-DHMlx0Osvg8-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    display: none;
}

h1 {
    font-family: "source-code";
    color:white;
    font-size: 2rem;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    font-family: "source-code";
    color: white;
    font-size: 1rem;
}

.header {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

a {
    color: white;
}

.icons-column {
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
}

.icon {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

@keyframes slider {
    from {width: 0%;}
    to {width:100%;}
}

.slide {
    background-color: white;
    animation-name: slider;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

.slide-left {
    margin-left:0;
}

.slide-right {
    margin-right:0;
}