/* Source-code Font */
@font-face {
    font-family: source-code;
    src: url(res/source.otf);
}

/* For fullpage background */
html {
    background: linear-gradient(to bottom, rgba(0,0,0,0.66) 100%, transparent), url(res/osman-rana-DHMlx0Osvg8-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-family: "source-code";
    color:white;
    font-size: 2rem;
}

h2 {
    font-family: "source-code";
    color: white;
    font-size: 1rem;
}

.header {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

a {
    color: white;
}

.icons-column {
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
}

.icon {
    margin-left: 0.25em;
    margin-right: 0.25em;
}